# Arquivo de exemplo de variáveis de ambiente
# Copie este arquivo para .env e ajuste os valores conforme necessário

# Hashes das senhas dos usuários pré-cadastrados
USER1_HASH=$2a$10$AU.E8u5xSnMnkwKNkr/JteRieELWZwi5WP8zRhVkJxGhjuMQnFjVy
USER2_HASH=$2a$10$YE/gypSViqRQxE/DCSYYreYCiucXODtgxUssxFE9rBDm7.mQfjPCO

# Nome da aplicação
VITE_APP_TITLE=Sistema de Gestão de Estoque